In [1]:
!pip install -e ../../

Obtaining file:///C:/Users/netxph/Projects/mlpouch
Installing collected packages: mlpouch
  Attempting uninstall: mlpouch
    Found existing installation: mlpouch 0.0.1
    Uninstalling mlpouch-0.0.1:
      Successfully uninstalled mlpouch-0.0.1
  Running setup.py develop for mlpouch
Successfully installed mlpouch-0.0.1

In [2]:
import pandas as pd
from mlpouch.decomposition import FunkSVD
import logging

logging.basicConfig(level=logging.DEBUG)

In [3]:
movies = pd.read_csv("data/movies_clean.csv")
del movies['Unnamed: 0']
movies.head()

,movie_id,movie,genre,date,1800's,1900's,2000's,History,News,Horror,...,Fantasy,Romance,Game-Show,Action,Documentary,Animation,Comedy,Short,Western,Thriller
0,8,Edison Kinetoscopic Record of a Sneeze (1894),Documentary|Short,1894,1,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
1,10,La sortie des usines Lumière (1895),Documentary|Short,1895,1,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
2,12,The Arrival of a Train (1896),Documentary|Short,1896,1,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
3,25,The Oxford and Cambridge University Boat Race ...,NaN,1895,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,91,Le manoir du diable (1896),Short|Horror,1896,1,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0

In [ ]:
reviews = pd.read_csv("data/reviews_clean.csv")
del reviews['Unnamed: 0']
reviews.head()

In [ ]:
reviews_sub = reviews[["user_id", "movie_id", "rating"]]
reviews_sub.head()

In [ ]:
movie_reviews = reviews_sub.groupby(['user_id', 'movie_id'])['rating'].max().unstack()
movie_reviews.head()

In [ ]:
movie_reviews_sub = movie_reviews[[73486, 75314,  68646, 99685]].dropna(axis=0)
movie_reviews_sub

In [ ]:
dec = FunkSVD(iters=10, learning_rate=0.005)
movie_reviews_pred = dec.fit_transform(movie_reviews_sub)

In [ ]:
movie_reviews_pred

In [4]:
from mlpouch.similarity import DotProduct
import numpy as np

In [5]:
movies_mat = movies.set_index("movie_id").iloc[:, 3:]
movies_mat.head()

,1800's,1900's,2000's,History,News,Horror,Musical,Film-Noir,Mystery,Adventure,...,Fantasy,Romance,Game-Show,Action,Documentary,Animation,Comedy,Short,Western,Thriller
movie_id,,,,,,,,,,,,,,,,,,,,,
8,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
10,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
12,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
25,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
91,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [6]:
dp = DotProduct()
movies_dot = dp.fit_transform(movies_mat)
movies_dot.head()

DEBUG:root:Dot product done. Shape (31245, 31245).
DEBUG:root:Dataframe restructuring done.

,8,10,12,25,91,417,439,443,628,833,...,8144778,8144868,8206708,8289196,8324578,8335880,8342748,8342946,8402090,8439854
movie_id,,,,,,,,,,,,,,,,,,,,,
8,2,2,2,0,1,1,1,0,1,1,...,1,0,0,1,0,0,0,0,0,0
10,2,2,2,0,1,1,1,0,1,1,...,1,0,0,1,0,0,0,0,0,0
12,2,2,2,0,1,1,1,0,1,1,...,1,0,0,1,0,0,0,0,0,0
25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
91,1,1,1,0,2,1,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [32]:
similar_idxs = np.where(movies_dot[118661] == np.max(movies_dot[118661]))[0]
similar_movies = np.array(movies.iloc[similar_idxs,]["movie"])
print(len(similar_movies))
similar_movies

130

array(['Voyage to the Bottom of the Sea (1961)',
       'Beneath the Planet of the Apes (1970)',
       'Gojira tai Megaro (1973)', "Logan's Run (1976)",
       'The Spy Who Loved Me (1977)', 'Battlestar Galactica (1978)',
       'Buck Rogers in the 25th Century (1979)', 'Mad Max (1979)',
       'Moonraker (1979)', 'Flash Gordon (1980)', 'Mad Max 2 (1981)',
       'Firefox (1982)', 'TRON (1982)',
       'Spacehunter: Adventures in the Forbidden Zone (1983)',
       'Timerider: The Adventure of Lyle Swann (1982)', 'Dune (1984)',
       'The Last Starfighter (1984)',
       'Star Trek III: The Search for Spock (1984)',
       'Mad Max Beyond Thunderdome (1985)', 'Zone Troopers (1985)',
       'Steel Dawn (1987)', 'Future Hunters (1986)',
       'Star Trek V: The Final Frontier (1989)',
       'Star Trek VI: The Undiscovered Country (1991)',
       'The Fantastic Four (1994)', 'Stargate (1994)', 'GoldenEye (1995)',
       'Waterworld (1995)', 'Drive (1997)', 'Escape from L.A. (1996)',
       'Independence Day (1996)', 'Star Trek: First Contact (1996)',
       'The Avengers (1998)', 'The Fifth Element (1997)',
       'The Lost World: Jurassic Park (1997)', 'Armageddon (1998)',
       'Fantastic Four (2005)', 'Star Trek: Insurrection (1998)',
       'X-Men (2000)', 'The Second Arrival (1998)',
       'Wing Commander (1999)', 'Planet of the Apes (2001)',
       'Jurassic Park III (2001)', 'Battlefield Earth (2000)',
       'Star Trek: Nemesis (2002)', 'The Time Machine (2002)',
       'X2 (2003)', 'The Chronicles of Riddick (2004)', 'The Core (2003)',
       'Timeline (2003)', 'The Day After Tomorrow (2004)',
       'Alien Hunter (2003)', 'Babylon A.D. (2008)',
       'Jurassic World (2015)', 'AVP: Alien vs. Predator (2004)',
       'Iron Man (2008)', 'X-Men: The Last Stand (2006)',
       'Serenity (2005)', 'Stealth (2005)', 'Far Cry (2008)',
       'Transformers (2007)', 'Captain America: The First Avenger (2011)',
       'X-Men Origins: Wolverine (2009)', 'Outlander (2008)',
       'Ant-Man (2015)', 'Jumper (2008)', 'Mutant Chronicles (2008)',
       'Star Trek (2009)', 'The Incredible Hulk (2008)',
       'Godzilla (2014)', 'Starship Troopers 3: Marauder (2008)',
       'Obitaemyy ostrov (2008)', 'G.I. Joe: The Rise of Cobra (2009)',
       'Transformers: Revenge of the Fallen (2009)',
       'TRON: Legacy (2010)', '2012 (2009)', 'Iron Man 2 (2010)',
       'X-Men: First Class (2011)',
       'Universal Soldier: Regeneration (2009)', 'Iron Man 3 (2013)',
       'Terminator Genisys (2015)', 'The Black Knight - Returns (2009)',
       'Mad Max: Fury Road (2015)',
       'Transformers: Dark of the Moon (2011)',
       'Star Trek Into Darkness (2013)', 'Predators (2010)',
       'The Wolverine (2013)', 'Deadpool (2016)', 'Battleship (2012)',
       'I Am Number Four (2011)', 'Fantastic Four (2015)',
       'Ra.One (2011)', 'G.I. Joe: Retaliation (2013)',
       'Jupiter Ascending (2015)', 'Independence Day: Resurgence (2016)',
       'Edge of Tomorrow (2014)', 'Pacific Rim (2013)',
       'Ready Player One (2018)', 'Robotropolis (2011)',
       'After Earth (2013)', 'Black Panther (2018)',
       'Captain America: The Winter Soldier (2014)',
       'X-Men: Days of Future Past (2014)', 'Hunting the Phantom (2014)',
       'Guardians of the Galaxy (2014)',
       'Transformers: Age of Extinction (2014)', 'Robot Overlords (2014)',
       'Rampage (2018)', 'The 5th Wave (2016)',
       'Avengers: Age of Ultron (2015)', '40 Days and Nights (2012)',
       'Pacific Rim: Uprising (2018)', 'Star Trek Beyond (2016)',
       'Arrowhead (2016)', 'Hardcore Henry (2015)', 'The Veil (2017)',
       'Fire Twister (2015)', 'Transformers: The Last Knight (2017)',
       'The Divergent Series: Allegiant (2016)',
       'Asteroid vs. Earth (2014)', 'Vice (2015)',
       'Captain America: Civil War (2016)', 'Turbo Kid (2015)',
       'Power Rangers (2017)', 'Rogue One: A Star Wars Story (2016)',
       'Guardians of the Galaxy Vol. 2 (2017)', 'Age of Ice (2014)',
       'Zashchitniki (2017)', 'Flight World War II (2015)',
       'Jurassic World: Fallen Kingdom (2018)'], dtype=object)

In [28]:
movies[movies.movie.str.contains("Avengers")]

,movie_id,movie,genre,date,1800's,1900's,2000's,History,News,Horror,...,Fantasy,Romance,Game-Show,Action,Documentary,Animation,Comedy,Short,Western,Thriller
8700,118661,The Avengers (1998),Action|Adventure|Sci-Fi,1998,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
14913,848228,The Avengers (2012),Action|Sci-Fi|Thriller,2012,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,1
22956,2395427,Avengers: Age of Ultron (2015),Action|Adventure|Sci-Fi,2015,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
27613,4154756,Avengers: Infinity War (2018),Action|Adventure|Fantasy,2018,0,0,1,0,0,0,...,1,0,0,1,0,0,0,0,0,0
27880,4296026,Avengers Grimm (2015),Action|Adventure|Fantasy,2015,0,0,1,0,0,0,...,1,0,0,1,0,0,0,0,0,0
29398,5262972,Avengers: Age of Ultron Parody (2015),Short|Comedy,2015,0,0,1,0,0,0,...,0,0,0,0,0,0,1,1,0,0